<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css"
        href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
        href="http://fonts.googleapis.com/css?family=Sue+Ellen+Francisco">
    <link rel="stylesheet" type="text/css"
        href="/main.css">
  </head>
  <body>
    <div class="container">
      <h1>{{ page.title }}</h1>
      {{ content }}
    </div>

    <div id="ribbon">
      <a href="https://github.com/uwsampa/approxbench">Fork me on GitHub</a>
    </div>
  </body>
</html>
